.home-container {
  min-height: 100vh;
}
.home-home078 {
  width: 375px;
  height: 812px;
  display: flex;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-image {
  top: -7px;
  left: 0px;
  width: 375px;
  height: 819px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-home0580 {
  top: 100px;
  left: 16px;
  width: 148px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-text {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group4106536 {
  top: 648px;
  left: 21px;
  width: 153px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-image1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-text1 {
  top: 7px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 900px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text2 {
  top: 148px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 900px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group5106537 {
  top: 232px;
  left: 18px;
  width: 340px;
  height: 323px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.home-navlink {
  display: contents;
}
.home-image2 {
  top: 153px;
  left: 170px;
  width: 170px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-navlink1 {
  display: contents;
}
.home-image3 {
  top: 153px;
  left: 0px;
  width: 170px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-navlink2 {
  display: contents;
}
.home-image4 {
  top: 0px;
  left: 170px;
  width: 170px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-navlink3 {
  display: contents;
}
.home-image5 {
  top: 0px;
  left: 4px;
  width: 170px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home-tab-bar0589 {
  top: 729px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image6 {
  top: 70px;
  left: 120px;
  width: 135px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
}
.home-status-bar0677 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-connections-i0677049 {
  top: 15px;
  left: 293px;
  width: 68px;
  height: 16px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-battery-i0677051 {
  top: 2px;
  left: 43px;
  width: 25px;
  height: 12px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-image7 {
  top: 0.3333333432674408px;
  left: 6.8209999280755e-13px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.home-svg {
  top: 4px;
  left: 23px;
  width: 1;
  height: 4;
  position: absolute;
}
.home-image8 {
  top: 2.3333332538604736px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 1.3333333730697632px;
  background-color: rgba(0, 0, 0, 1);
}
.home-wifi-i0677055 {
  top: 1px;
  left: 20px;
  width: 21px;
  height: 15px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-svg1 {
  top: 1.3333333730697632px;
  left: 2.6666667461395264px;
  width: 15;
  height: 11;
  position: absolute;
}
.home-cellular-connection-i0677060 {
  top: 2px;
  left: 0px;
  width: 18px;
  height: 12px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-svg2 {
  top: 0.6666666865348816px;
  left: 0.6666666865348816px;
  width: 17;
  height: 11;
  position: absolute;
}
.home-time-i0677066 {
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-text3 {
  top: 6px;
  left: 0.3333333432674408px;
  color: rgba(0, 0, 0, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
